<!DOCTYPE html>
<html>
<head>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>

    {% load staticfiles %}
    {% load static %}

	<div class="col-lg-12">
        <div class="table-responsive">
            <table class="table">

            <tbody>

            {% for person in peoples %}
                <tr>

                    <img src="{% shootings/static "frowny.png" %}" alt="image" height=200 width=200>

                </tr>
                {% if forloop.last %}
                <br>
                <br>
                <br>
                <div class="paragraphs">
                <p class="lead text-center">There have been <strong>{{ countofpeoples }}</strong> that
                were unarmed and killed by a police officer from 2015-2016. </p>
                {% endif %}
            {% endfor %}
                </div>
            </tbody>
            </table>
        </div>
    </div>
</body>
</html>